.DS_Store
.AppleDouble
.LSOverride

.python-version
*.py[cod]
*$py.class
.venv/
venv/

# Artifacts created by `fill`
fixtures/
fixtures-*/
logs/
/out/

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# pycharm
.idea/

*.manifest
*.spec

pip-log.txt
pip-delete-this-directory.txt

.tox/

/doc/_autosummary

.coverage

# misc
*.code-workspace
verify_kzg_proof
.vscode/launch.json

# docs
_readthedocs
site
venv-docs/
.pyspelling_en.dict

# cache-related
cached_downloads/
.cache
__pycache__/
.mypy_cache/
.pytest_cache/
.ruff_cache/


# pytest report
assets
*.html

# Environment
env.yaml
.env
.env.*

# Framework logs
logs/
*.log

# node
node_modules/
package-lock.json

# Running github actions locally with act
.act_github_vars

# temporary files
*.tmp
*.temp