"""
A blockchain test for [EIP-{{eip_number}} {{eip_name}}](https://eips.ethereum.org/EIPS/eip-{{eip_number}}).
"""

import pytest

from ethereum_test_tools import Alloc, Block, BlockchainTestFiller, Transaction

REFERENCE_SPEC_GIT_PATH = "DUMMY/eip-DUMMY.md"
REFERENCE_SPEC_VERSION = "DUMMY_VERSION"

@pytest.mark.valid_from("{{fork}}")
def test_{{test_name}}(blockchain_test: BlockchainTestFiller, pre: Alloc):
    """
    TODO: Enter a one-line test summary here.

    TODO: (Optional) Enter a more detailed test function description here.
    """
    # TODO: Add pre-state allocations here.
    # This is a demo transaction, where alice sends one wei to herself.
    alice = pre.fund_eoa()

    {% if fork in ["Frontier", "Homestead"] %}
    tx = Transaction(sender=alice, to=alice, value=1, protected=False)
    {% else %}
    tx = Transaction(sender=alice, to=alice, value=1)
    {% endif %}

    # TODO: Add post-state allocations here.
    post: dict[str, dict] = {}

    blockchain_test(pre=pre, blocks=[Block(txs=[tx])], post=post)