{% extends "base.md.j2" %}
{% block title %}
# `{{ title }}()`
{% endblock %}
{% block additional_content %}

::: {{ package_name }}
    options:
        filters: ["^[tT]est*|^Spec*"]

{% if cases %}
## Parametrized Test Cases

The interactive table below is also available as a [standalone page]({{ html_static_page_target }}).

{% include 'function_parameter_datatable.html.j2' %}
{% endif %}
{% endblock %}
