<label for="fork_selector">Filter by Fork: </label>
<select id="fork_selector">
    <option value="all">All Forks</option>
    {% set default_fork = target_fork if target_fork in cases | map(attribute='fork') | list else cases | map(attribute='fork') | list | last %}
    {% for fork in cases | map(attribute='fork') | unique %}
    <option value="{{ fork }}" {% if fork == default_fork %}selected{% endif %}>{{ fork }}</option>
    {% endfor %}
</select>

<label for="fixture_selector">Filter by Fixture Type: </label>
<select id="fixture_selector">
    <option value="all">All Fixture Types</option>
    {% set default_fixture_type = "STATE_TEST" if "STATE_TEST" in cases | map(attribute='fixture_type') | list else cases[0].fixture_type %}
    {% for fixture_type in cases | map(attribute='fixture_type') | unique %}
    <option value="{{ fixture_type }}" {% if fixture_type == default_fixture_type %}selected{% endif %}>{{ fixture_type }}</option>
    {% endfor %}
</select>

<table id="test_table" class="display nowrap">
    <thead>
        <tr>
            <th>Test ID (Abbreviated)</th>
            {% for header in cases[0].params.keys() %}
            <th>{{ header }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for case in cases %}
        <tr data-fork="{{ case.fork }}" data-fixture="{{ case.fixture_type }}">
            <td> 
                <!-- Display abbreviated pytest nodeid, but show a tooltip for the full nodeid -->
                <abbr class="copy-id" data-full-id="{{ case.full_id }}" title="{{ case.full_id }}">
                    ...{{ case.abbreviated_id }}
                </abbr>
            </td>
            {% for value in case.params.values() %}
            <td>{{ value }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
