<table id="test_table" class="display nowrap">
    <thead>
        <tr>
            <th>Test ID (Abbreviated)</th>
            <th>Hidden</th>
            {% for header in cases[0].params.keys() %}
            <th>{{ header }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for case in cases %}
        <tr>
            <td> 
                <!-- Tooltip for the full nodeid -->
                <abbr class="copy-id" data-full-id="{{ case.full_id }}" title="{{ case.full_id }}">
                    ...{{ case.abbreviated_id }}
                </abbr>
            </td>
            <td>{{ case.full_id }}</td>
            {% for value in case.params.values() %}
            <td>{{ value }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
