name: Build and Package Fixtures

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+*"
  workflow_dispatch:

jobs:
  features:
    runs-on: ubuntu-latest
    outputs:
      features: ${{ steps.parse.outputs.features }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - name: Get names from .github/configs/feature.yaml
        id: parse
        shell: bash
        run: |
          # Get all features without `feature_only: true`
          grep -Po "^[0-9a-zA-Z_\-]+" ./.github/configs/feature.yaml | \
          while read feature; do
            if ! awk "/^$feature:/{flag=1; next} /^[[:alnum:]]/{flag=0} flag && /feature_only:.*true/{exit 1}" \
                  ./.github/configs/feature.yaml; then
              continue
            fi
            echo "$feature"
          done | jq -R . | jq -cs . > features.json
          echo "features=$(cat features.json)" >> "$GITHUB_OUTPUT"
  build:
    needs: features
    runs-on: ubuntu-latest
    strategy:
      matrix:
        name: ${{ fromJson(needs.features.outputs.features) }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
        with:
          submodules: true
      - uses: ./.github/actions/build-fixtures
        with:
          release_name: ${{ matrix.name }}
          uv_version: ${{ vars.UV_VERSION }}
          python_version: ${{ vars.DEFAULT_PYTHON_VERSION }}
  release:
    runs-on: ubuntu-latest
    needs: build
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@95815c38cf2ff2164869cbab79da8d1f422bc89e
        with:
          path: .
      - name: Draft Release
        uses: softprops/action-gh-release@c95fe1489396fe8a9eb87c0abf8aa5b2ef267fda
        with:
          files: "./**"
          draft: true
          generate_release_notes: true
          fail_on_unmatched_files: true
