name: Build and Package Fixtures

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+*"
  workflow_dispatch:

jobs:
  features:
    runs-on: ubuntu-24.04
    outputs:
      features: ${{ steps.parse.outputs.features }}
    steps:
      - uses: actions/checkout@v4
      - name: Get names from .github/configs/feature.yaml
        id: parse
        shell: bash
        run: |
          echo "features=$(grep -Po "^[0-9a-zA-Z_\-]+" ./.github/configs/feature.yaml | jq -R . | jq -cs .)" >> "$GITHUB_OUTPUT"
  build:
    needs: features
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        name: ${{ fromJson(needs.features.outputs.features) }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: ./.github/actions/build-fixtures
        with:
          release_name: ${{ matrix.name }}
  release:
    runs-on: ubuntu-24.04
    needs: build
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: .
      - name: Draft Release
        uses: softprops/action-gh-release@v2
        with:
          files: "./**"
          draft: true
          generate_release_notes: true
          fail_on_unmatched_files: true
