name: Run Tox Verifications

on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          # Temporarily disable
          # - os: ubuntu-latest
          #   python: "3.10"
          #   evm-type: "stable"
          #   tox-cmd: "uvx --with=tox-uv tox"  # run-parallel --parallel-no-spinner"  # TODO: disable parallelisation for uv testing
          - os: ubuntu-latest
            python: "3.12"
            evm-type: "stable"
            tox-cmd: "uvx --with=tox-uv tox"  # run-parallel --parallel-no-spinner"
          # Disabled due to unavailable evm implementation for devnet-1
          # - os: ubuntu-latest
          #   python: '3.11'
          #   evm-type: 'develop'
          #   tox-cmd: 'tox -e tests-develop'
          # Disabled to not be gated by evmone implementation
          # - os: ubuntu-latest
          #   python: '3.11'
          #   evm-type: 'eip7692'
          #   tox-cmd: 'tox -e tests-eip7692'
          - os: macos-latest
            python: "3.11"
            evm-type: "stable"
            tox-cmd: "uvx --with=tox-uv tox"  # run-parallel --parallel-no-spinner"
    steps:
      - name: Checkout ethereum/execution-specs
        uses: actions/checkout@v4
        with:
          repository: ethereum/execution-specs
          ref: 9b95554a88d2a8485f8180254d0f6a493a593fda
          path: execution-specs
          sparse-checkout: |
            src/ethereum
          fetch-depth: 1
      - uses: ./.github/actions/build-evm-base
        id: evm-builder
        with:
          type: ${{ matrix.evm-type }}
      - name: Set up uv
        uses: ./.github/actions/setup-uv
      - name: Set up Python ${{ matrix.python }}
        run: uv python install ${{ matrix.python }}
      - name: Setup Tools/Dependencies Ubuntu
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update && sudo apt-get install -y aspell aspell-en
      - name: Setup Tools/Dependencies macOS
        if: runner.os == 'macOS'
        run: |
          brew install aspell
          # Add additional packages on 3.11: https://github.com/ethereum/execution-spec-tests/issues/274
          if [ ${{ matrix.python }} == '3.11' ]; then brew install autoconf automake libtool; fi
      - name: Run Tox (CPython)
        env:
          EELS_RESOLUTIONS_FILE: ${{ github.workspace }}/.github/configs/eels_resolutions.json
        run: ${{ matrix.tox-cmd }}
      - uses: DavidAnson/markdownlint-cli2-action@v16
        with:
          globs: |
            README.md
            docs/**/*.md
